*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
body > * {
  grid-column: full-start/full-end;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 15rem [middle-start] repeat(3, [col-start] 1fr [col-end]) [middle-end full-end];
  grid-template-rows: [emptybar-start] 3.5vh [emptybar-end nav-start] 6vh [nav-end header-start] 110vh [header-end about-us-start] 55vh [about-us-end our-thinking-start] minmax(33vh, auto) [our-thinking-end opinions-start] 100vh [opinions-end features-start] 90vh [features-end quote1-start] 20vh [quote1-end thought-start] 70vh [thought-end tickets-start] 60vh [tickets-end cycle-start] 120vh [cycle-end events-start] 15vh [events-end quote2-start] 20vh [quote2-end footer-start] 50vh [footer-end];
}

.heading-1 {
  font-size: 18rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
}

.heading-3 {
  font-size: 2.9rem;
  color: #3e3f3a;
  text-transform: uppercase;
}
.heading-3--about-us {
  font-weight: 900;
}

.heading-5 {
  font-size: 1.87rem;
  font-weight: 700;
  color: white;
}

.button {
  text-transform: uppercase;
  color: #3ea2d8;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1.3rem 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2.5rem;
  width: 25rem;
  margin: 0 auto;
}

.navigation {
  background-color: #040404;
  grid-row: nav-start/nav-end;
  z-index: 1;
  display: grid;
  grid-template-columns: [full-start] minmax(5rem, 15rem) [logo-start] min-content [logo-end empty-area-start] minmax(10rem, 60rem) [empty-area-end nav-container-start] max-content [nav-container-end] minmax(5rem, 1fr) [full-end];
  align-items: center;
}
.navigation__logo {
  grid-column: 2/3;
}
.navigation__items {
  list-style: none;
  grid-column: nav-container-start/nav-container-end;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-column-gap: 10rem;
  text-transform: uppercase;
  justify-items: center;
  font-weight: 500;
}
.navigation__item {
  font-size: 1.9rem;
  font-weight: 500;
}
.navigation__item a {
  color: white;
  text-decoration: none;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header-background.jpg");
  background-size: cover;
  background-position: center center;
  grid-row: emptybar-start/header-end;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 45vw) 1fr;
  grid-template-rows: 25vh 1fr;
  align-items: center;
  text-align: center;
}
.header__content {
  grid-column: 2/3;
  grid-row: 2/-1;
  display: grid;
  grid-row-gap: 4rem;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
}
.header__text {
  font-size: 2.1rem;
  color: white;
  padding-bottom: 7rem;
}

.section-about-us {
  background-color: #000000;
  grid-row: about-us-start/about-us-end;
  grid-column: full-start/full-end;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 26%;
  margin: 0 auto;
  text-align: center;
}
.section-about-us__text {
  color: #3e3f3a;
  font-size: 1.9rem;
  padding-top: 4rem;
}

.section-our-thinking {
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 30rem));
  justify-content: center;
  grid-column-gap: 10rem;
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
}
.section-our-thinking__text {
  font-size: 1.6rem;
  color: white;
  padding-top: 2rem;
}

.section-opinions {
  background-color: orange;
}

.section-features {
  background-color: aqua;
}

.section-quote {
  background-color: chartreuse;
}

.section-thought {
  background-color: cornflowerblue;
}

.section-tickets {
  background-color: darkgreen;
}

.section-cycle {
  background-color: darkorchid;
}

.section-events {
  background-color: darkslategray;
}

/*# sourceMappingURL=style.comp.css.map */
