*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body > * {
  grid-column: 1/-1;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: [emptybar-start] 4.2rem [emptybar-end nav-start] 5.5rem [nav-end header-start] minmax(100vh, auto) [header-end about-us-start] minmax(50vh, auto) [about-us-end our-thinking-start] minmax(33vh, auto) [our-thinking-end opinions-start] minmax(132vh, auto) [opinions-end features-start] minmax(90vh, auto) [features-end quote1-start] minmax(20vh, auto) [quote1-end thought-start] 70vh [thought-end tickets-start] minmax(76vh, auto) [tickets-end regime-start] minmax(120vh, auto) [regime-end events-start] minmax(15vh, auto) [events-end quote2-start] minmax(20vh, auto) [quote2-end footer-start] 50vh [footer-end];
}

.heading-1 {
  font-size: 17.517rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
}

.heading-2 {
  font-size: 3.75rem;
  color: #3e3f3a;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 2.9rem;
  color: #3e3f3a;
  text-transform: uppercase;
}
.heading-3--about-us {
  font-weight: 900;
}
.heading-3--opinions {
  font-family: "Roboto", sans-serif;
  grid-column: 1/-1;
}
.heading-3--features {
  font-weight: 500;
  padding-bottom: 3rem;
}

.heading-4 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-4--socials {
  line-height: 3rem;
  color: #3e3f3a;
  font-weight: 700;
}

.heading-5 {
  font-size: 1.87rem;
  font-weight: 700;
  color: white;
}

.button {
  text-transform: uppercase;
  color: #3ea2d8;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1.2rem 5.2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2.5rem;
  width: 25.7rem;
  margin: 0 auto;
  text-align: center;
}
.button--tickets {
  width: 19rem;
  color: #00c0ff;
  font-weight: 400;
  float: right;
  margin-top: 6rem;
}

.opinion-card {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 1fr repeat(3, max-content) 1fr;
  grid-template-columns: 1fr minmax(17.6rem, 1fr) 1fr;
  grid-row-gap: 6rem;
  justify-items: center;
  color: white;
}
.opinion-card__title {
  font-size: 1.67rem;
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.opinion-card__text {
  font-size: 1.67rem;
  font-family: "Lora", serif;
  grid-row: 3/span 1;
  grid-column: 2/span 1;
}
.opinion-card__author-info {
  grid-row: 4/span 1;
  grid-column: 2/span 1;
  text-align: center;
}
.opinion-card__author {
  font-size: 1.46rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.opinion-card__author-position {
  font-size: 1.46rem;
  font-family: "Lora", serif;
}

.feature {
  text-align: center;
  width: 25%;
  display: grid;
  grid-template-rows: 15rem repeat(3, max-content);
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: end;
}
.feature__text {
  font-size: 1.67rem;
  color: white;
  padding: 0 6rem;
}
.feature__author-info {
  color: white;
}
.feature__author {
  text-transform: uppercase;
  font-size: 1.46rem;
  font-weight: 700;
}
.feature__author-position {
  font-size: 1.46rem;
}

.regime-box {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10rem 0;
}
.regime-box > * {
  width: 50%;
}
.regime-box__info {
  padding: 0 8rem;
}
.regime-box__date {
  font-size: 1.67rem;
}
.regime-box__text {
  font-size: 1.67rem;
  padding-top: 4rem;
}
.regime-box__title {
  font-size: 2.08rem;
  font-weight: 500;
  padding-top: 1rem;
  text-transform: uppercase;
}

.navigation {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-color: #040404;
  grid-row: nav-start/nav-end;
  z-index: 1;
  display: grid;
  grid-template-columns: min-content minmax(max-content, 50.7rem);
  align-items: center;
  justify-content: space-between;
}
.navigation__logo {
  grid-column: 1/span 1;
}
.navigation__items {
  list-style: none;
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  text-transform: uppercase;
  justify-content: space-between;
  font-weight: 500;
}
.navigation__item:first-child {
  justify-self: start;
}
.navigation__item {
  font-size: 1.9rem;
  font-weight: 500;
}
.navigation__item a {
  color: white;
  text-decoration: none;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header-background.jpg");
  background-size: cover;
  grid-row: emptybar-start/header-end;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 78.4rem) 1fr;
  grid-template-rows: minmax(58rem, auto);
  align-content: center;
  text-align: center;
}
.header__content {
  grid-column: 2/3;
  padding-top: 27.3rem;
}
.header__text {
  font-size: 2.179rem;
  color: white;
  padding-top: 2.2rem;
  padding-bottom: 10rem;
}

.footer {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-color: #1b1b1b;
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.footer > * {
  width: 50%;
}
.footer__socials-text {
  color: #3e3f3a;
  font-size: 1.875rem;
  line-height: 2.9rem;
  padding: 2rem 23rem 2rem 0;
}
.footer__socials-list {
  list-style: none;
  display: flex;
}
.footer__socials-item {
  width: 3.3rem;
  height: 3.3rem;
}
.footer__socials-item:not(:last-child) {
  margin-right: 1rem;
}
.footer__socials-icon {
  width: 100%;
}
.footer__nav-container {
  display: flex;
}
.footer__nav-column {
  font-size: 2.08rem;
  font-family: "Roboto", sans-serif;
}
.footer__nav-column:not(:last-child) {
  margin-right: 10rem;
}
.footer__nav-column-title {
  font-weight: 700;
  color: #3e3f3a;
  text-transform: uppercase;
  padding-bottom: 4.5rem;
}
.footer__nav-list {
  list-style: none;
}
.footer__nav-item {
  line-height: 3rem;
}
.footer__nav-link {
  text-decoration: none;
  color: #3e3f3a;
}

.section-about-us {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-color: #000000;
  grid-row: about-us-start/about-us-end;
  display: flex;
  justify-content: center;
  align-content: center;
}
.section-about-us__content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
  text-align: center;
}
.section-about-us__text {
  color: #3e3f3a;
  font-size: 1.9rem;
  padding-top: 4rem;
}

.section-our-thinking {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 30rem));
  justify-content: center;
  grid-column-gap: 10rem;
  grid-row-gap: 3rem;
  align-items: center;
}
.section-our-thinking__text {
  font-size: 1.6rem;
  color: white;
  padding-top: 2rem;
}
.section-our-thinking__box {
  padding: 2rem 0;
}

.section-opinions {
  padding-left: 12.4rem;
  padding-right: 12.4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/section-opinions-background.png");
  background-size: cover;
  display: grid;
  align-items: end;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(13rem, auto) minmax(7rem, auto) auto 1fr;
  grid-row-gap: 5rem;
}
.section-opinions__text {
  text-align: center;
  padding: 0 16%;
  font-size: 2.1rem;
  color: #3e3f3a;
  grid-column: 1/-1;
}
.section-opinions__opinions {
  grid-column: 1/-1;
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  grid-gap: 3rem;
  padding-top: 5rem;
}

.section-features {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #000000;
}
.section-features__info {
  width: 62%;
  margin: 0 auto;
  text-align: center;
}
.section-features__text {
  font-size: 1.875rem;
  line-height: 3rem;
  color: #3e3f3a;
  padding-bottom: 10rem;
}
.section-features__types {
  list-style: none;
  color: #3e3f3a;
  font-size: 1.67rem;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.section-features__features {
  display: flex;
  justify-content: space-between;
  padding-top: 12rem;
}

.section-quote {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  font-weight: 500;
}
.section-quote__text {
  font-size: 2.08rem;
  line-height: 3rem;
  padding: 0 13rem;
}
.section-quote__text--darker {
  color: #3e3f3a;
  font-weight: 400;
}
.section-quote__author {
  font-size: 1.87rem;
  padding-top: 5rem;
}
.section-quote--darker {
  background-color: black;
  padding-bottom: 10rem;
}

.section-thought {
  background-color: black;
  display: flex;
}
.section-thought > * {
  width: 50%;
}
.section-thought__info {
  padding: 17rem 7rem 0 15.1rem;
}
.section-thought__img {
  background-image: url("../img/thought-image.png");
  background-size: cover;
}
.section-thought__text {
  color: #3e3f3a;
  font-size: 1.87rem;
  line-height: 3rem;
  padding-top: 2rem;
}

.section-tickets {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-image: url("../img/section-tickets-background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}
.section-tickets__content {
  width: 38%;
  color: white;
  text-align: right;
}
.section-tickets__heading {
  font-size: 5.83rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 5rem;
}
.section-tickets__text {
  font-size: 1.67rem;
  font-family: "Roboto", sans-serif;
  padding-top: 2rem;
}

.section-regime {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  color: white;
  background-color: black;
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.section-events {
  padding-left: 15.1rem;
  padding-right: 15.1rem;
  background-color: #1b1b1b;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-events__event-container {
  padding: 5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-events__title {
  font-size: 2.08rem;
  color: white;
}
.section-events__date {
  color: #3e3f3a;
  font-size: 1.67rem;
  line-height: 3rem;
}

/*# sourceMappingURL=style.comp.css.map */
