.footer {
  background-color: $color-secondary-bg;
  display: flex;
  font-family: $font-secondary;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    width: 50%;
  }

  &__socials-text {
    color: $color-text-secondary;
    font-size: $font-size-secondary;
    line-height: 2.9rem;
    padding: 2rem 23rem 2rem 0;
  }

  &__socials-list {
    list-style: none;
    display: flex;
  }

  &__socials-item {
    width: 3.3rem;
    height: 3.3rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__socials-icon {
    width: 100%;
  }

  &__nav-container {
    display: flex;
  }

  &__nav-column {
    font-size: $font-size-primary;
    font-family: $font-secondary;

    &:not(:last-child) {
      margin-right: 10rem;
    }
  }

  &__nav-column-title {
    font-weight: 700;
    color: $color-text-secondary;
    text-transform: uppercase;
    padding-bottom: 4.5rem;
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-item {
    line-height: 3rem;
  }

  &__nav-link {
    text-decoration: none;
    color: $color-text-secondary;
  }

  @include respond(bp-xs-small) {
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;

    & > * {
      width: 100%;
    }

    &__socials-container {
      text-align: center;
      justify-content: space-around;
    }

    &__socials-list {
      justify-content: center;
    }

    &__socials-text {
      padding: 4rem 0 4rem 0;
    }

    &__nav-container {
      padding-top: 10rem;
      justify-content: space-around;
    }
  }
}