.navigation {
  background-color: #040404;
  grid-row: nav-start / nav-end;
  z-index: 1;

  display: grid;
  grid-template-columns: max-content minmax(max-content, 50.7rem);
  align-items: center;
  justify-content: space-between;

  &__logo-container {
    grid-column: 1 / span 1;
  }


  &__items {
    list-style: none;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: 500;
  }

  &__item:first-child {
    justify-self: start;
  }

  &__item {
    font-size: 1.9rem;
    font-weight: 500;

    a {
      color: $color-text-primary;
      text-decoration: none;

    }
  }

  @include respond(bp-large) {
    &__logo {
      display: block;
      width: 75%;
    }
  }

  @include respond(bp-small) {
    &__logo {
      display: block;
      width: 60%;
    }
  }

  @include respond(bp-xs-small) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    align-content: center;


    &__logo-container {
      display: none;
    }

    &__items {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
  }
}