.navigation {
  @include section-padding($section-content-left-padding, $section-content-right-padding);

  background-color: #040404;
  grid-row: nav-start / nav-end;
  z-index: 1;

  display: grid;
  grid-template-columns: min-content minmax(max-content, 50.7rem);
  align-items: center;
  justify-content: space-between;

  &__logo {
    grid-column: 1 / span 1;
  }

  &__items {
    list-style: none;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: 500;
  }

  &__item:first-child {
    justify-self: start;
  }

  &__item {
    font-size: 1.9rem;
     font-weight: 500;

    a {
      color: $color-primary;
      text-decoration: none;

    }
  }
}