.button {
  text-transform: uppercase;
  color: #3ea2d8;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1.2rem 5.2rem;
  background-color: rgba($color-primary, .9);
  border-radius: 2.5rem;
  width: 25.7rem;
  margin: 0 auto;
  text-align: center;

  &--tickets {
    width: 19rem;
    color: #00c0ff;
    font-weight: 400;
    float: right;
    margin-top: 6rem;
  }
}