.feature {
  text-align: center;
  width: 25%;
  display: grid;
  grid-template-rows: minmax(15rem, auto) repeat(3, max-content);
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: end;

  &__text {
    font-size: 1.67rem;
    color: $color-primary;
    padding: 0 6rem;
  }

  &__author-info {
    color: $color-primary;
  }

  &__author {
    text-transform: uppercase;
    font-size: 1.46rem;
    font-weight: 700;
  }

  &__author-position {
    font-size: 1.46rem;
  }

  @include respond(bp-small) {
    width: 100%;

    &:not(:last-child) {
      padding-bottom: 15rem;
    }

    &__img {
      width: 13rem;
      align-self: center;
    }
  }
}