.regime-box {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10rem 0;

  & > * {
    width: 50%;
  }

  &__info {
    padding: 0 8rem;
  }

  &__date {
    font-size: 1.67rem;
  }

  &__text {
    font-size: 1.67rem;
    padding-top: 4rem;
  }

  &__title {
    font-size: 2.08rem;
    font-weight: 500;
    padding-top: 1rem;
    text-transform: uppercase;
  }

  @include respond(bp-medium) {
    &__img {
      width: 15rem;
    }
  }

  @include respond(bp-small) {
    &__info {
      padding: 0;
    }
  }

  @include respond(bp-xs-small) {
    &__img {
      width: 10rem;
    }
  }
}