*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(bp-large) {
    font-size: 50%;
  }

  @include respond(bp-medium) {
    font-size: 43.75%;
  }

  @include respond(bp-small) {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 400;
  overflow-x: hidden;

  > * {
    grid-column: 1 / -1;
  }
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: [emptybar-start] 4.2rem
    [emptybar-end nav-start] minmax(5.5rem, auto)
    [nav-end header-start] minmax(90rem, auto)
    [header-end about-us-start] minmax(46rem, auto)
    [about-us-end our-thinking-start] minmax(35rem, auto)
    [our-thinking-end opinions-start] minmax(130rem, auto)
    [opinions-end features-start] minmax(95rem, auto)
    [features-end quote1-start] minmax(30rem, auto)
    [quote1-end thought-start] 65rem
    [thought-end tickets-start] minmax(68rem, auto)
    [tickets-end regime-start] minmax(100rem, auto)
    [regime-end events-start] minmax(20rem, auto)
    [events-end quote2-start] minmax(30rem, auto)
    [quote2-end footer-start] minmax(39rem, auto) [footer-end];

}