*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: 400;

    > * {
        grid-column: full-start / full-end;
    }
}

.container {
    display: grid;
    grid-template-columns: [full-start] 15rem [middle-start] repeat(3, [col-start] 1fr [col-end]) [middle-end full-end];
    grid-template-rows: [emptybar-start] 3.5vh [emptybar-end nav-start] 6vh
    [nav-end header-start] 110vh
    [header-end about-us-start] minmax(55vh, auto)
    [about-us-end our-thinking-start] minmax(33vh, auto)
    [our-thinking-end opinions-start] minmax(132vh, auto)
    [opinions-end features-start] 90vh
    [features-end quote1-start] 20vh
    [quote1-end thought-start] 70vh
    [thought-end tickets-start] 60vh
    [tickets-end cycle-start] 120vh
    [cycle-end events-start] 15vh
    [events-end quote2-start] 20vh
    [quote2-end footer-start] 50vh [footer-end];
}