*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: 400;
    overflow-x: hidden;

    > * {
        grid-column: 1 / -1;
    }
}

.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: [emptybar-start] 4.2rem [emptybar-end nav-start] 5.5rem
    [nav-end header-start] minmax(100vh, auto)
    [header-end about-us-start] minmax(50vh, auto)
    [about-us-end our-thinking-start] minmax(33vh, auto)
    [our-thinking-end opinions-start] minmax(132vh, auto)
    [opinions-end features-start] minmax(90vh, auto)
    [features-end quote1-start] minmax(20vh, auto)
    [quote1-end thought-start] 70vh
    [thought-end tickets-start] minmax(76vh, auto)
    [tickets-end regime-start] minmax(120vh, auto)
    [regime-end events-start] 15vh
    [events-end quote2-start] minmax(20vh, auto)
    [quote2-end footer-start] 50vh [footer-end];
}