.heading-1 {
  font-size: 18rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
}

.heading-3 {
  font-size: 2.9rem;
  color: $color-tertiary;
  text-transform: uppercase;

  &--about-us {
    font-weight: 900;
  }

  &--opinions {
    font-family: $font-secondary;
    grid-column: 2 / span 1;
  }
}

.heading-5 {
  font-size: 1.87rem;
  font-weight: 700;
  color: $color-primary;
}