.heading-1 {
  font-size: 17.517rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;

  @include respond(bp-xs-small) {
    font-size: 12rem;
  }
}

.heading-2 {
  font-size: 5.83rem;
  color: $color-text-primary;
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 5rem;
}

.heading-3 {
  font-size: 3.75rem;
  font-weight: 500;
  color: $color-text-secondary;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 2.917rem;
  color: $color-text-secondary;
  text-transform: uppercase;

  &--about-us {
    font-weight: 900;
  }

  &--opinions {
    font-family: $font-secondary;
    grid-column: 1 / -1;
    font-weight: 700;
  }

  &--features {
    font-weight: 500;
    padding-bottom: 3rem;
  }
}

.heading-5  {
  font-size: 2.5rem;
  color: $color-text-primary;
  text-transform: uppercase;
  font-weight: 700;

  &--socials {
    line-height: 3rem;
    color: $color-text-secondary;

    font-weight: 700;
  }
}
