.heading-1 {
  font-size: 18rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
}

.heading-3 {
  font-size: 2.9rem;
  color: #3e3f3a;
  text-transform: uppercase;

  &--about-us {
    font-weight: 900;
  }
}