.heading-1 {
  font-size: 17.517rem;
  mix-blend-mode: lighten;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
}

.heading-2 {
  font-size: 3.75rem;
  color: $color-tertiary;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 2.9rem;
  color: $color-tertiary;
  text-transform: uppercase;

  &--about-us {
    font-weight: 900;
  }

  &--opinions {
    font-family: $font-secondary;
    grid-column: 1 / -1;
  }

  &--features {
    font-weight: 500;
    padding-bottom: 3rem;
  }
}

.heading-4  {
  font-size: 2.5rem;
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-5 {
  font-size: 1.87rem;
  font-weight: 700;
  color: $color-primary;
}