.section-about-us {
  @include section-padding($section-content-left-padding, $section-content-right-padding);

  background-color: #000000;
  grid-row: about-us-start / about-us-end;
  display: flex;
  justify-content: center;
  align-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 66%;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    color: $color-text-secondary;
    font-size: $font-size-secondary;
    padding-top: 4rem;

  }
}

.section-our-thinking {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $color-secondary-bg;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 30rem));
  justify-content: center;
  grid-column-gap: 10rem;
  grid-row-gap: 3rem;
  align-items: center;

  &__title {
    font-size: $font-size-secondary;
    font-weight: 700;
    color: $color-text-primary;
    text-transform: uppercase;
    line-height: 3.3rem;
  }

  &__text {
    font-size: $font-size-tertiary;
    color: $color-text-primary;
    padding-top: 2rem;
  }

  &__box {
    padding: 2rem 0;
  }

  @include respond(bp-xs-small) {
    grid-template-columns: 1fr;

    &__box {
      text-align: center;
    }
  }
}

.section-opinions {
  @include section-padding();
  background-image: linear-gradient(rgba($color-overlay, .3), rgba($color-overlay, .3)), url("../img/section-opinions-background.png");

  background-size: cover;
  display: grid;
  align-items: end;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(13rem, auto) minmax(7rem, auto) auto 1fr;
  grid-row-gap: 5rem;

  &__text {
    text-align: center;
    padding: 0 9%;
    font-size: $font-size-primary;
    color: $color-text-secondary;
    grid-column: 1 / -1;
    line-height: 3.3rem;
  }

  &__opinions {
    grid-column: 1 / -1;
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 3rem;
    padding-top: 5rem;
  }
}

.section-features {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #000000;

  &__info {
    width: 62%;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    font-size: $font-size-secondary;
    line-height: 3rem;
    color: $color-text-secondary;
    padding-bottom: 10rem;
  }

  &__types {
    list-style: none;
    color: $color-text-secondary;
    font-size: $font-size-tertiary;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12rem;
  }
}

.section-quote {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: $color-secondary-bg;
  color: $color-text-primary;
  text-align: center;
  font-weight: 500;

  &__text {
    font-size: $font-size-primary;
    line-height: 3rem;
    padding: 0 13rem;

    &--darker {
      color: $color-text-secondary;
      font-weight: 400;
    }
  }

  &__author {
    font-size: $font-size-secondary;
    padding-top: 5rem;
  }

  &--darker {
    background-color: $color-primary-bg;
    padding-bottom: 10rem;
  }
}

.section-thought {
  background-color: $color-primary-bg;
  display: flex;

  & > * {
    width: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7rem 7rem $section-base-left-padding + $section-content-left-padding;
  }

  &__img {
    background-image: url("../img/thought-image.png");
    background-size: cover;
  }

  &__text {
    color: $color-text-secondary;
    font-size: $font-size-secondary;
    line-height: 3rem;
    padding-top: 2rem;
  }

  @include respond(bp-large) {
    &__img {
      background-position: 60% 0;
    }
  }

  @include respond(bp-xs-small) {
    &__info {
      width: 100%;
    }
    &__img {
      display: none;
    }
  }

}

.section-tickets {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  background-image: url("../img/section-tickets-background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;

  &__content {
    width: 38%;
    color: $color-text-primary;
    text-align: right;
  }

  &__heading {
    font-size: 5.83rem;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 5rem;
  }

  &__text {
    font-size: $font-size-tertiary;
    font-family: $font-secondary;
    padding-top: 2rem;
  }

  @include respond(bp-xs-small) {
    &__content {
      width: 60%;
    }
  }
}

.section-regime {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  color: $color-text-primary;
  background-color: $color-primary-bg;
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.section-events {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  background-color: $color-secondary-bg;
  padding-top: 5rem;
  padding-bottom: 5rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__event-container {
    padding: 5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size-primary;
    color: $color-text-primary;
  }

  &__date {
    color: $color-text-secondary;
    font-size: $font-size-tertiary;
    line-height: 3rem;
  }

  @include respond(bp-xs-small) {
    &__event-container {
      width: 100%;
    }
  }
}

.bottom-line {
  height: 3rem;
  background-color: #059fd1;
}