.section-about-us {
  @include section-padding($section-content-left-padding, $section-content-right-padding);

  background-color: #000000;
  grid-row: about-us-start / about-us-end;
  display: flex;
  justify-content: center;
  align-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 66%;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    color: $color-tertiary;
    font-size: 1.9rem;
    padding-top: 4rem;

  }
}

.section-our-thinking {
  @include section-padding($section-content-left-padding, $section-content-right-padding);

  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 30rem));
  justify-content: center;
  grid-column-gap: 10rem;
  grid-row-gap: 3rem;
  align-items: center;

  &__text {
    font-size: 1.6rem;
    color: $color-primary;
    padding-top: 2rem;
  }

  &__box {
    padding: 2rem 0;
  }

}

.section-opinions {
  @include section-padding();
  background-image: linear-gradient(rgba($color-overlay, .3), rgba($color-overlay, .3)), url("../img/section-opinions-background.png");

  background-size: cover;
  display: grid;
  align-items: end;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(13rem, auto) minmax(7rem, auto) auto 1fr;
  grid-row-gap: 5rem;

  &__text {
    text-align: center;
    padding: 0 16%;
    font-size: 2.1rem;
    color: $color-tertiary;
    grid-column: 1 / -1;
  }

  &__opinions {
    grid-column: 1 / -1;
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 3rem;
    padding-top: 5rem;
  }
}

.section-features {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #000000;

  &__info {
    width: 62%;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    font-size: 1.875rem;
    line-height: 3rem;
    color: $color-tertiary;
    padding-bottom: 10rem;
  }

  &__types {
    list-style: none;
    color: $color-tertiary;
    font-size: 1.67rem;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }

  &__features {
    display: flex;
    justify-content: space-between;
    padding-top: 12rem;
  }
}

.section-quote {
  @include section-padding($section-content-left-padding, $section-content-right-padding);
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #1b1b1b;
  color: $color-primary;
  text-align: center;
  font-weight: 500;

  &__text {
    font-size: 2.08rem;
    line-height: 3rem;
    padding: 0 13rem;
  }

  &__author {
    font-size: 1.87rem;
    padding-top: 5rem;
  }
}

.section-thought {
  background-color: black;
  display: flex;

  & > * {
    width: 50%;
  }

  &__info {
    padding: 17rem 7rem 0 $section-base-left-padding + $section-content-left-padding;
  }

  &__img {
    background-image: url("../img/thought-image.png");
    background-size: cover;
  }

  &__text {
    color: $color-tertiary;
    font-size: 1.87rem;
    line-height: 3rem;
    padding-top: 2rem;
  }
}

.section-tickets {
  background-color: darkgreen;
}

.section-cycle {
  background-color: darkorchid;
}

.section-events {
  background-color: darkslategray;
}
