//COLORS
$color-overlay: black;
$color-primary: white;
$color-tertiary: #3e3f3a;

//FONTS
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Lora', serif;

//PADDINGS
$page-left-min-padding: 5rem;
$page-left-max-padding: 15rem;
$page-right-min-padding: 5rem;